
body {
    background: azure;
  }

.about-me{
     /* Sizing */
    width: 100vw;
    height: 100vh;
 
     /* Flexbox for text centering horizantal and vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;

     /* Background image and style */
     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./images/hero.jpg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

h1{
    /* Make text bigger */
    font-size: 3.5em;
    /* Margins*/
    margin-top: 0;
    margin-bottom: 0.2em;
}

h2{
    font-size: 1.5em;
}

.btn{
     /* Positioning and sizing */
     display: block;
     width: 200px;

     padding: 1em;
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;

      /* Text styles */
    color: black;
    text-decoration: none;
    font-size: 1.5em;

     
     /* Border styles */
     border: 3px solid black;
     border-radius: 20px;
}
.experience{
    font-family: 'American Typewriter','Serif';
    text-align: center;
    background-color: khaki;
    padding-bottom: 1em;
    padding-top: 1em;
}
img{
    height: 40px;
    width: 40px;
    padding-bottom: 0.5em;
}
.Future{
    font-family: 'American Typewriter','Serif';
    text-align: center;

}
#food{
    /* float: right; */
    height: 250px;
    width: 350px;
}
#car{
    height: 250px;
    width: 350px;
}
#video{
    height: 250px;
    width: 350px;
}
#kids{
    height: 250px;
    width: 350px;
}




